* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.nav {
  background-color: rgba(233, 236, 239, 255);
  width: 100%;
  height: 45px;
}
#navicons {
  font-size: 14px;
  position: relative;
  left: 40px;
  margin-top: 15px;
  margin-left: 6px;
}
#navicons2 {
  position: relative;
  left: 40px;
  margin-top: 15px;
  margin-left: 15px;
}
#navtext {
  position: relative;
  left: 45px;
  display: inline-block;
}
#navtext2 {
  color: #202528;
  display: inline-block;
  position: relative;
  left: 30%;
  font-weight: 400;
  font-size: 13px;
}
.btn {
  position: relative;
  left: -20px;
  margin-top: 10px;
  float: right;
  cursor: pointer;
  width: 100px;
  height: 30px;
  background: none;
  border: none;
}
.shape {
  opacity: 0;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  transition: 0.2s;
  right: 0px;
}
#arrow {
  transition: 0.4s;
}
ul {
  position: relative;
  top: 13px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul li {
  position: relative;
  left: 30px;
}

li {
  float: left;
}

li a {
  cursor: pointer;
  display: block;
  color: rgba(126, 127, 126, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  color: #202528;
}
.searchbar {
  font-weight: 300;
  border: none;
  border-bottom: 1px solid #868e96;
}
#searchicon {
  font-size: larger;
  font-weight: 600;
  position: relative;
  left: -30px;
}
ul input::placeholder {
  font-weight: 300;
  color: #868e96;
  opacity: 1; /* Firefox */
}
#mainnavicons {
  cursor: pointer;
  margin-left: 13px;
  float: right;
  position: relative;
  left: -20px;
  top: 10px;
  font-size: x-large;
}
.searchbar {
  margin-top: 10px;
  margin-left: 500px;
  font-size: 18px;
  font-weight: bold;
}
#angle {
  cursor: pointer;
  position: relative;
  left: 3px;
  font-size: 13px;
  font-weight: bolder;
}
.sct1 {
  background-color: rgba(255, 254, 254, 255);
  text-align: left;
}
#sct1hdr {
  margin-top: 70px;
  margin-left: 400px;
  font-size: 17px;
  color: rgba(188, 173, 119, 255);
  letter-spacing: 5px;
  font-weight: 600;
}
#sct1hdr2 {
  color: rgba(33, 37, 41, 255);
  margin-top: 10px;
  margin-left: 400px;
  font-size: 70px;
}
#sct1txt {
  color: #868e96;
  margin-top: 20px;
  margin-left: 400px;
  font-size: 20px;
}
#hr {
  margin-left: 70px;
  margin-top: 80px;
  width: 150px;
}
.sct1alltexts {
  position: absolute;
  top: 150px;
}
#sct2img {
  max-width: 100%;
  max-height: 100%;
  width: 300px;
  margin-left: 90px;
  margin-top: 30px;
}
#sct2hdr {
  color: rgba(188, 173, 119, 255);
  margin-left: 400px;
  font-size: 17px;
  letter-spacing: 5px;
  font-weight: 600;
}
#sct2hdr2 {
  color: rgba(33, 37, 41, 255);
  margin-top: 10px;
  margin-left: 400px;
  font-size: 70px;
}
.sct2alltexts {
  position: relative;
  top: -85px;
}
#sct3hdr {
  color: #868e96;
  margin-left: 550px;
  font-size: 17px;
  letter-spacing: 8px;
  font-weight: 600;
}
#sct3hdr2 {
  color: rgba(33, 37, 41, 255);
  margin-left: 550px;
  font-size: 30px;
}
#sct2txt {
  color: #868e96;
  margin-top: 20px;
  margin-left: 550px;
  font-size: 15px;
  font-weight: 600;
}
.sct3alltexts {
  position: relative;
  top: -350px;
}
#sct4img {
  float: right;
  max-width: 100%;
  max-height: 100%;
  width: 450px;
  margin-left: 90px;
  margin-top: -21px;
  position: relative;
  top: -125px;
  left: -200px;
}
#sct4hdr {
  color: #868e96;
  letter-spacing: 10px;
  margin-left: 90px;
  font-size: 15px;
  font-weight: 600;
}
#sct4hdr2 {
  color: #202528;
  margin-top: 10px;
  margin-left: 90px;
  font-size: 30px;
}
#sct4txt {
  color: #868e96;
  margin-top: 20px;
  margin-left: 90px;
  font-size: 15px;
  font-weight: 600;
}
.sct4alltexts {
  position: relative;
  top: -100px;
}
.sct5 {
  margin-top: 75px;
  background: rgba(249, 248, 250, 255);
  width: 100%;
  height: 520px;
}
#sct5txt {
  color: #868e96;
  margin-top: 100px;
  text-align: left;
  margin-left: 150px;
  font-size: 17px;
  font-weight: 500;
}
#sct5hdr {
  color: #202528;
  position: relative;
  top: 80px;
  margin-left: 150px;
  font-size: 30px;
}
.sct5alltexts {
  margin-top: 30px;
  position: relative;
  top: -270px;
  left: 700px;
}
.sct5alltexts h3{
  letter-spacing: 5px;
  font-size: 23px;
  color: #202528;
}
.sct5alltexts p{
  line-height: 25px;
  color: #868e96;
  font-size: 15px;
  font-weight: 500;
}
.sct5halftexts{
  position: relative;
  top: -100px;
}
.scndtxt {
  position: relative;
  top: -135px;
  left: 315px;
}
.thrdtxt {
  position: relative;
  top: -135px;
  left: 315px;
}
.sct6{
  margin-left: 100px;
  margin-right: 100px;
}
#sct6img {
  position: relative;
  top: 90px;
  margin-left: 60px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 700px;
  width: 350px;
}
.sct6alltexts {
  position: relative;
  top: -280px;
  left: 490px;
}
.sct6alltexts h1{
  line-height: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: 100;
  color: #202528;
}
#sct6authtext {
  color: rgba(188,173,119,255);
  margin-top: 25px;
  letter-spacing: 4px;
  font-weight: 600;
}
#sct6txt {
  margin-top: 25px;
  color: #868e96;
  font-size: 15px;
  font-weight: 500;
}
.grid {
  margin-top: 50px;
  margin-left: 350px;
  display: grid;
  grid-template-columns: repeat(4, 220px);
}

.grid > article img {
  max-width: 100%;
  width: 150px;
  border-radius: 100px;
}
.text {
  padding: 0 20px 20px;
}
.text h3{
  color: #202528;
  font-size: 17px;
}
.text p{
  margin-left: 10px;
  color: #868e96;
  font-size: 14px;
}
#sct7hdr {
  color: rgba(207,181,119,255);
  margin-left: 350px;
  font-size: 20px;
  letter-spacing: 9px;
  font-weight: 600;
}
#sct7hdr2 {
  color: #202528;
  margin-top: 25px;
  margin-left: 350px;
  font-size: 70px;
}
#sct7txt {
  margin-top: 25px;
  margin-left: 350px;
  color: #868e96;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}
.sct7 {
  margin-top: -180px;
}

.section-padding {
  padding: 45px 0;
}
.brand-carousel {
  background: rgba(249, 248, 250, 255);
  margin-top: 5%;
}
.owl-dots {
  text-align: center;
  margin-top: 4%;
}
.owl-dot {
  display: inline-block;
  height: 7px !important;
  width: 7px !important;
  background-color: rgba(199, 198, 200, 255) !important;
  opacity: 0.8;
  border-radius: 50%;
  margin: 0 5px;
}
.owl-dot.active {
  transition: 0.3s;
  height: 11px !important;
  width: 11px !important;
  background-color: rgba(188, 173, 119, 255) !important;
}
.single-logo {
  margin-top: 10%;
  max-width: 100%;
  max-height: 100%;
  width: 100px;
  margin-left: 100px;
}

#sct9hdr {
  margin-top: 80px;
  text-align: center;
  color: #202528;
  font-size: 30px;
}
#sct9txt {
  margin-top: 80px;
  margin-left: 250px;
  display: inline-block;
  color: #868e96;
  font-size: 13px;
  font-weight: 500;
}
#sct9txt2 {
  margin-top: 80px;
  margin-left: 100px;
  display: inline-block;
  color: #868e96;
  font-size: 13px;
  font-weight: 500;
}
.sct10 {
  margin-top: 100px;
  width: 100%;
  background-color: rgba(249, 248, 250, 255);
  height: 250px;
}
.sct10 h5{
  color: #202528;
}
#left {
  text-align: left;
  position: relative;
  top: -85px;
  left: 250px;
  color: #868e96;
}
#right {
  text-align: right;
  position: relative;
  top: -109px;
  left: -250px;
  color: #868e96;
}
.moneysct {
  position: relative;
  top: -65px;
  left: 250px;
}
.percentsct {
  position: relative;
  top: -133px;
  left: 550px;
}
.usersct {
  position: relative;
  top: -200px;
  left: 800px;
}
.sctrtxts {
  top: 100px;
  position: relative;
  left: 20%;
}
.footertxt1 {
  position: relative;
  top: -167px;
  left: 150px;
}
.footertxt2 {
  position: relative;
  top: -334px;
  left: 350px;
}
.allftrtxts {
  position: relative;
  top: -186px;
  left: 750px;
}
.allftrtxts h3{
  color: #202528;
}
.footerfrsttxtx {
  margin-top: 100px;
  margin-left: 250px;
}
.lastfooter {
  position: relative;
  top: -200px;
}
#footericons {
  color: #868e96;
  position: relative;
  top: 25px;
  left: -50px;
  font-size: x-large;
}
.footersct {
  color: #202528;
}
#footertxt3 {
  font-weight: 400;
  color: #868e96;
}
.footerfrsttxtx h3 {
  font-size: 16px;
  letter-spacing: 2px;
}
.footerfrsttxtx p {
  color: #868e96;
  font-weight: 500;
  font-size: 13px;
}
.allftrtxts p {
  color: #868e96;
  font-weight: 400;
  font-size: 15px;
}
$primary: #202528;
$secondary: #202528;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}
#formicons {
  position: relative;
  top: 30px;
  left: 130px;
  font-size: x-large;
}
.form__field {
  font-family: inherit;
  width: 50%;
  border: 0;
  border-bottom: 1px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  position: relative;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}

.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
