* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
}

.nav {
  background-color: rgb(233, 236, 239);
  width: 100%;
  height: 45px;
}

#navicons {
  margin-top: 15px;
  margin-left: 6px;
}

#navicons2 {
  margin-top: 15px;
  margin-left: 15px;
}

#navtext {
  display: inline-block;
}

#navtext2 {
  display: inline-block;
  position: relative;
  left: 500px;
}

.mainnavbar {
  background-color: transparent;
}

.btn {
  margin-top: 10px;
  float: right;
  cursor: pointer;
  width: 100px;
  height: 30px;
  background: none;
  border: none;
}

.shape {
  opacity: 0;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  transition: 0.2s;
  right: 0px;
}

#arrow {
  transition: 0.4s;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.searchbar {
  border: none;
  border-bottom: 1px solid black;
}

#mainnavicons {
  cursor: pointer;
  margin-left: 13px;
  float: right;
  position: relative;
  left: -20px;
  top: 10px;
  font-size: x-large;
}

.searchbar {
  margin-top: 10px;
  margin-left: 500px;
  font-size: 18px;
  font-weight: bold;
}

.sct1 {
  background-color: rgb(255, 254, 254);
  text-align: left;
}

#sct1hdr {
  margin-top: 70px;
  margin-left: 400px;
  font-size: 20px;
}

#sct1hdr2 {
  margin-top: 10px;
  margin-left: 400px;
  font-size: 70px;
}

#sct1txt {
  margin-top: 20px;
  margin-left: 400px;
  font-size: 20px;
}

#hr {
  margin-left: 70px;
  margin-top: 80px;
  width: 150px;
}

.sct1alltexts {
  position: absolute;
  top: 150px;
}

#sct2img {
  max-width: 100%;
  max-height: 100%;
  width: 300px;
  margin-left: 90px;
  margin-top: 30px;
}

#sct2hdr {
  margin-left: 400px;
  font-size: 20px;
}

#sct2hdr2 {
  margin-top: 10px;
  margin-left: 400px;
  font-size: 70px;
}

.sct2alltexts {
  position: relative;
  top: -85px;
}

#sct3hdr {
  margin-left: 550px;
  font-size: 20px;
}

#sct3hdr2 {
  margin-top: 10px;
  margin-left: 550px;
  font-size: 40px;
}

#sct2txt {
  margin-top: 20px;
  margin-left: 550px;
  font-size: 20px;
}

.sct3alltexts {
  position: relative;
  top: -350px;
}

#sct4img {
  float: right;
  max-width: 100%;
  max-height: 100%;
  width: 400px;
  margin-left: 90px;
  margin-top: 30px;
  position: relative;
  top: -125px;
  left: -200px;
}

#sct4hdr {
  margin-left: 90px;
  font-size: 20px;
}

#sct4hdr2 {
  margin-top: 10px;
  margin-left: 90px;
  font-size: 40px;
}

#sct4txt {
  margin-top: 20px;
  margin-left: 90px;
  font-size: 20px;
}

.sct4alltexts {
  position: relative;
  top: -100px;
}

.sct5 {
  background-color: rgb(232, 236, 238);
  width: 100%;
  height: 400px;
}

#sct5txt {
  margin-top: 100px;
  text-align: left;
  font-size: 20px;
  margin-left: 150px;
}

#sct5hdr {
  position: relative;
  top: 80px;
  margin-left: 150px;
  font-size: 50px;
}

.sct5alltexts {
  margin-top: 30px;
  position: relative;
  top: -270px;
  left: 700px;
}

.scndtxt {
  position: relative;
  top: -76px;
  left: 400px;
}

.thrdtxt {
  position: relative;
  top: -76px;
  left: 400px;
}

#sct6img {
  margin-top: 60px;
  margin-left: 100px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 700px;
  width: 300px;
}

.sct6alltexts {
  position: relative;
  top: -280px;
  left: 490px;
}

#sct6authtext {
  margin-top: 15px;
  letter-spacing: 2px;
}

#sct6txt {
  margin-top: 25px;
}

.grid {
  margin-top: 50px;
  margin-left: 350px;
  display: grid;
  grid-template-columns: repeat(4, 220px);
}

.grid > article img {
  max-width: 100%;
  width: 150px;
  border-radius: 100px;
}

.text {
  padding: 0 20px 20px;
}

#sct7hdr {
  margin-left: 350px;
  font-size: 20px;
  letter-spacing: 5px;
}

#sct7hdr2 {
  margin-top: 25px;
  margin-left: 350px;
  font-size: 70px;
}

#sct7txt {
  margin-top: 25px;
  margin-left: 350px;
}

.sct7 {
  margin-top: -180px;
}

.sct8 {
  margin-top: 70px;
  background-color: rgb(232, 236, 238);
  width: 100%;
  height: 300px;
}

#sct8img {
  margin-top: 100px;
  position: relative;
  left: 12%;
  max-width: 100%;
  max-height: 100%;
  width: 100px;
  margin-left: 100px;
}

#sct9hdr {
  margin-top: 30px;
  text-align: center;
}

#sct9txt {
  margin-top: 20px;
  margin-left: 140px;
  display: inline-block;
  font-size: 17px;
}

.sct10 {
  margin-top: 50px;
  width: 100%;
  background-color: rgb(249, 248, 250);
  height: 250px;
}

#left {
  text-align: left;
  position: relative;
  left: 250px;
}

#right {
  text-align: right;
  position: relative;
  top: -19px;
  left: -250px;
}

.moneysct {
  position: relative;
  top: -50px;
  left: 200px;
}

.percentsct {
  position: relative;
  top: -100px;
  left: 450px;
}

.usersct {
  position: relative;
  top: -150px;
  left: 650px;
}

.sctrtxts {
  top: 100px;
  position: relative;
  left: 25%;
}

#plchldr {
  width: 200px;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
}

.footertxt1 {
  position: relative;
  top: -134px;
  left: 110px;
}

.footertxt2 {
  position: relative;
  top: -266px;
  left: 240px;
}

.allftrtxts {
  position: relative;
  top: -128px;
  left: 750px;
}

.footerfrsttxtx {
  margin-top: 100px;
  margin-left: 250px;
}

.lastfooter {
  position: relative;
  top: -200px;
}/*# sourceMappingURL=about.css.map */