* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  overflow-x: hidden;
}
.nav {
  background-color: rgba(233, 236, 239, 255);
  width: 100%;
  height: 45px;
}
#navicons {
  font-size: 14px;
  position: relative;
  left: 40px;
  margin-top: 15px;
  margin-left: 6px;
}
#navicons2 {
  position: relative;
  left: 40px;
  margin-top: 15px;
  margin-left: 15px;
}
#navtext {
  position: relative;
  left: 45px;
  display: inline-block;
}
#navtext2 {
  color: #202528;
  display: inline-block;
  position: relative;
  left: 30%;
  font-weight: 400;
  font-size: 13px;
}
.btn {
  position: relative;
  left: -20px;
  margin-top: 10px;
  float: right;
  cursor: pointer;
  width: 100px;
  height: 30px;
  background: none;
  border: none;
}
.shape {
  opacity: 0;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  transition: 0.2s;
  right: 0px;
}
#arrow {
  transition: 0.4s;
}
ul {
  position: relative;
  top: 13px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul li{
  position: relative;
  left: 30px;
}

li {
  float: left;
}

li a {
  cursor: pointer;
  display: block;
  color: rgba(126,127,126,255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  color: #202528;
}
.searchbar {
  font-weight: 300;
  border: none;
  border-bottom: 1px solid #868e96;
}
#searchicon{
  font-size: larger;
  font-weight: 600;
  position: relative;
  left: -30px;
}
ul input::placeholder {
  font-weight: 300;
  color: #868e96;
  opacity: 1; /* Firefox */
}
#mainnavicons {
  cursor: pointer;
  margin-left: 13px;
  float: right;
  position: relative;
  left: -20px;
  top: 10px;
  font-size: x-large;
}
.searchbar {
  margin-top: 10px;
  margin-left: 500px;
  font-size: 18px;
  font-weight: bold;
}
#angle{
  cursor: pointer;
  position: relative;
  left: 3px;
  font-size: 13px;
  font-weight: bolder;
}
#blogimage {
  max-width: 100%;
  max-height: 100%;
  margin-top: 20px;
}
#blogtext {
  margin-left: 53px;
  margin-right: 53px;
  text-align: center;
  margin-top: 30px;
}
#bloghdr {
  text-align: center;
  font-size: 70px;
}
#bloglink {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sct1texts {
  position: absolute;
  top: 40%;
}

.grid {
  margin-top: 40px;
  margin-left: 90px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  align-items: start;
}
.grid > article img {
  max-width: 100%;
  width: 350px;
}
#oldtxt {
  text-align: left;
}
#newtxt {
  text-align: right;
}
.sct4 {
  margin-top: 50px;
  width: 100%;
  background-color: rgba(249, 248, 250, 255);
  height: 250px;
}
.moneysct {
  position: relative;
  top: -50px;
  left: 200px;
}
.percentsct {
  position: relative;
  top: -100px;
  left: 450px;
}
.usersct {
  position: relative;
  top: -150px;
  left: 650px;
}
.sctrtxts {
  top: 100px;
  position: relative;
  left: 25%;
}
#plchldr {
  width: 200px;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
}
#left{
  text-align: left;
  position: relative;
  left: 250px;
}
#right {
  text-align: right;
  position: relative;
  top: -19px;
  left: -250px;
}
.footertxt1 {
  position: relative;
  top: -134px;
  left: 110px;
}
.footertxt2 {
  position: relative;
  top: -266px;
  left: 240px;
}
.allftrtxts {
  position: relative;
  top: -128px;
  left: 750px;
}
.footerfrsttxtx {
  margin-top: 100px;
  margin-left: 250px;
}
.lastfooter{
  position: relative;
  top: -200px;
}
#footericons{
  position: relative;
  top: 20px;
  left: -31px;
}