* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.nav {
  background-color: rgb(233, 236, 239);
  width: 100%;
  height: 45px;
}

#navicons {
  margin-top: 15px;
  margin-left: 6px;
}

#navicons2 {
  margin-top: 15px;
  margin-left: 15px;
}

#navtext {
  display: inline-block;
}

#navtext2 {
  display: inline-block;
  position: relative;
  left: 500px;
}

.mainnavbar {
  background-color: transparent;
}

.btn {
  margin-top: 10px;
  float: right;
  cursor: pointer;
  width: 100px;
  height: 30px;
  background: none;
  border: none;
}

.shape {
  opacity: 0;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  transition: 0.2s;
  right: 0px;
}

#arrow {
  transition: 0.4s;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.searchbar {
  border: none;
  border-bottom: 1px solid black;
}

#mainnavicons {
  cursor: pointer;
  margin-left: 13px;
  float: right;
  position: relative;
  left: -20px;
  top: 10px;
  font-size: x-large;
}

.searchbar {
  margin-top: 10px;
  margin-left: 500px;
  font-size: 18px;
  font-weight: bold;
}

#sct1img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

#links {
  position: relative;
  left: 40%;
}

.sct1alltexts {
  position: absolute;
  top: 30%;
  left: 40%;
}

#sct1hdr {
  font-size: 70px;
}

.sct2alltexts {
  margin-top: 10%;
  margin-left: 16%;
}

.sct2txt2 {
  position: relative;
  top: -113px;
  left: 265px;
}

.sct2txt3 {
  position: relative;
  top: -228px;
  left: 660px;
}

#sct2txts {
  margin-top: 10px;
}

.map {
  background-color: rgb(232, 237, 239);
  width: 100%;
  height: 800px;
  position: relative;
  top: -120px;
}

iframe {
  max-width: 100%;
  max-height: 100%;
  width: 705px;
  height: 800px;
  min-height: 500px;
}

#maphdr {
  position: relative;
  top: -700px;
  left: 870px;
  font-size: 70px;
}

#maptxts {
  margin-left: 30px;
  margin-top: 10px;
}

.allmaptexts {
  position: relative;
  top: -710px;
  left: 870px;
}

#maplocationtext {
  position: relative;
  top: -77px;
  left: 240px;
}

#mapemailtext {
  position: relative;
  top: -97px;
  left: 440px;
}

#maphdr3 {
  display: block;
  position: relative;
  top: 60px;
  left: -125px;
}

hr {
  position: relative;
  left: -120px;
  width: 700px;
}

#sct3input {
  display: block;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid gray;
}

#sct3input1 {
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid gray;
}

.form__group {
  position: relative;
  top: -330px;
  left: 545px;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__group1 {
  position: relative;
  top: -395px;
  left: 950px;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__group2 {
  position: relative;
  top: -300px;
  left: 545px;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 50%;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field1 {
  font-family: inherit;
  width: 105%;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field2 {
  margin-top: 10px;
  font-family: inherit;
  width: 105%;
  height: 100px;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus,
.form__field1:focus,
.form__field2:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #202528, #202528);
     border-image: linear-gradient(to right, #202528, #202528);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label,
.form__field1:focus ~ .form__label,
.form__field2:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #202528;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

#sct3hdr {
  margin-left: 90px;
  position: relative;
  top: -60px;
  font-size: 90px;
  font-weight: 900;
}

#sct3icons {
  margin-top: 15px;
  margin-left: 20px;
  position: relative;
  top: -60px;
  left: 80px;
  font-size: 35px;
}

#btn1 {
  position: relative;
  top: -251px;
  left: 545px;
  cursor: pointer;
  width: 200px;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgb(188, 172, 118);
  color: rgb(188, 172, 118);
  font-weight: bolder;
  letter-spacing: 2px;
}

#btn1:hover {
  color: #202528;
  transition: 0.3s;
  background-color: rgb(188, 172, 118);
}

.sct10 {
  margin-top: -140px;
  width: 100%;
  background-color: rgb(249, 248, 250);
  height: 250px;
}

#left {
  text-align: left;
  position: relative;
  left: 250px;
}

#right {
  text-align: right;
  position: relative;
  top: -19px;
  left: -250px;
}

.moneysct {
  position: relative;
  top: -50px;
  left: 200px;
}

.percentsct {
  position: relative;
  top: -100px;
  left: 450px;
}

.usersct {
  position: relative;
  top: -150px;
  left: 650px;
}

.sctrtxts {
  top: 100px;
  position: relative;
  left: 25%;
}

#plchldr {
  width: 200px;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
}

.footertxt1 {
  position: relative;
  top: -134px;
  left: 110px;
}

.footertxt2 {
  position: relative;
  top: -266px;
  left: 240px;
}

.allftrtxts {
  position: relative;
  top: -128px;
  left: 750px;
}

.footerfrsttxtx {
  margin-top: 100px;
  margin-left: 250px;
}

.lastfooter {
  position: relative;
  top: -200px;
}

#footericons {
  position: relative;
  top: 20px;
  left: -31px;
}/*# sourceMappingURL=contact.css.map */