* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.nav {
  background-color: rgb(233, 236, 239);
  width: 100%;
  height: 45px;
}

#navicons {
  font-size: 14px;
  position: relative;
  left: 40px;
  margin-top: 15px;
  margin-left: 6px;
}

#navicons2 {
  position: relative;
  left: 40px;
  margin-top: 15px;
  margin-left: 15px;
}

#navtext {
  position: relative;
  left: 45px;
  display: inline-block;
}

#navtext2 {
  color: #202528;
  display: inline-block;
  position: relative;
  left: 30%;
  font-weight: 400;
  font-size: 13px;
}

.btn {
  position: relative;
  left: -20px;
  margin-top: 10px;
  float: right;
  cursor: pointer;
  width: 100px;
  height: 30px;
  background: none;
  border: none;
}

.shape {
  opacity: 0;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  transition: 0.2s;
  right: 0px;
}

#arrow {
  transition: 0.4s;
}

ul {
  position: relative;
  top: 13px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  position: relative;
  left: 30px;
}

li {
  float: left;
}

li a {
  cursor: pointer;
  display: block;
  color: rgb(126, 127, 126);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #202528;
}

.mainnavbar {
  background-color: transparent;
  position: relative;
  top: 0px;
}

.searchbar {
  background-color: transparent;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid #868e96;
}

#searchicon {
  font-size: larger;
  font-weight: 600;
  position: relative;
  left: -30px;
}

ul input::-moz-placeholder {
  font-weight: 300;
  color: #868e96;
  opacity: 1;
}

ul input::placeholder {
  font-weight: 300;
  color: #868e96;
  opacity: 1;
}

#mainnavicons {
  cursor: pointer;
  margin-left: 13px;
  float: right;
  position: relative;
  left: -20px;
  top: 10px;
  font-size: x-large;
}

.searchbar {
  margin-top: 10px;
  margin-left: 500px;
  font-size: 18px;
  font-weight: bold;
}

#angle {
  cursor: pointer;
  position: relative;
  left: 3px;
  font-size: 13px;
  font-weight: bolder;
}

#sct1img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  margin-top: -52px;
}

#links {
  position: relative;
  left: 10%;
  display: block;
  color: #cfb577;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-left: -50px;
}

.sct1alltexts {
  position: absolute;
  top: 30%;
  left: 40%;
}

#sct1hdr {
  text-align: center;
  color: #202528;
  font-size: 60px;
  font-weight: 700;
}

.sct2alltexts {
  margin-top: 10%;
  margin-left: 16%;
}

.sct2alltexts h2 {
  color: #202528;
}

.sct2txt2 {
  position: relative;
  top: -135px;
  left: 300px;
}

.sct2txt3 {
  position: relative;
  top: -271px;
  left: 700px;
}

#sct2txts {
  margin-top: 10px;
  color: #868e96;
  font-size: 15px;
  font-weight: 600;
}

.map {
  background-color: rgb(232, 237, 239);
  width: 100%;
  height: 850px;
  position: relative;
  top: -120px;
}

iframe {
  max-width: 100%;
  max-height: 100%;
  width: 705px;
  height: 850px;
  min-height: 500px;
}

#maphdr {
  color: #868e96;
  position: relative;
  top: -790px;
  left: 730px;
  font-size: 70px;
}

#maptxts {
  font-size: 13px;
  font-weight: 600;
  color: #202528;
  margin-left: 30px;
  margin-top: 10px;
}

.allmaptexts {
  position: relative;
  top: -790px;
  left: 870px;
}

.allmaptexts hr {
  border: 0.1px solid #868e96;
}

#maplocationtext {
  font-size: 13px;
  font-weight: 600;
  color: #202528;
  position: relative;
  top: -77px;
  left: 240px;
}

#mapemailtext {
  font-size: 13px;
  font-weight: 600;
  color: #202528;
  position: relative;
  top: -97px;
  left: 440px;
}

#maphdr3 {
  color: #202528;
  display: block;
  position: relative;
  top: 60px;
  left: -125px;
}

hr {
  position: relative;
  left: -120px;
  width: 700px;
}

#sct3input {
  display: block;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid gray;
}

#sct3input1 {
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid gray;
}

.form__group {
  position: relative;
  top: -330px;
  left: 545px;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__group1 {
  position: relative;
  top: -402px;
  left: 950px;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__group2 {
  position: relative;
  top: -300px;
  left: 545px;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 50%;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field1 {
  font-family: inherit;
  width: 105%;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field2 {
  margin-top: 10px;
  font-family: inherit;
  width: 105%;
  height: 100px;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus,
.form__field1:focus,
.form__field2:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #202528, #202528);
     border-image: linear-gradient(to right, #202528, #202528);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label,
.form__field1:focus ~ .form__label,
.form__field2:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #202528;
  font-weight: 700;
}

.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.allfields {
  position: relative;
  top: 50px;
}

#sct3hdr {
  line-height: 80px;
  color: #202528;
  margin-left: 90px;
  position: relative;
  top: -60px;
  font-size: 80px;
  font-weight: 700;
}

#sct3icons {
  cursor: pointer;
  margin-top: 15px;
  margin-left: 20px;
  position: relative;
  top: -60px;
  left: 80px;
  font-size: 35px;
}

#btn1 {
  position: relative;
  top: -251px;
  left: 545px;
  cursor: pointer;
  width: 200px;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgb(188, 172, 118);
  color: rgb(188, 172, 118);
  font-weight: bolder;
  letter-spacing: 2px;
}

#btn1:hover {
  color: #202528;
  transition: 0.3s;
  background-color: rgb(188, 172, 118);
}

.sct10 {
  margin-top: -140px;
  width: 100%;
  background-color: rgb(249, 248, 250);
  height: 250px;
}

#left {
  text-align: left;
  position: relative;
  top: -85px;
  left: 250px;
  color: #868e96;
}

#right {
  text-align: right;
  position: relative;
  top: -109px;
  left: -250px;
  color: #868e96;
}

.moneysct {
  position: relative;
  top: -65px;
  left: 250px;
}

.percentsct {
  position: relative;
  top: -133px;
  left: 550px;
}

.usersct {
  position: relative;
  top: -200px;
  left: 800px;
}

.sctrtxts {
  top: 100px;
  position: relative;
  left: 20%;
}

.footertxt1 {
  position: relative;
  top: -167px;
  left: 150px;
}

.footertxt2 {
  position: relative;
  top: -334px;
  left: 350px;
}

.allftrtxts {
  position: relative;
  top: -186px;
  left: 750px;
}

.footerfrsttxtx {
  margin-top: 100px;
  margin-left: 250px;
}

.lastfooter {
  position: relative;
  top: -200px;
}

#footericons {
  color: #868e96;
  position: relative;
  top: 25px;
  left: -50px;
  font-size: x-large;
}

.footersct {
  color: #202528;
}

#footertxt3 {
  font-weight: 400;
  color: #868e96;
}

.footerfrsttxtx h3 {
  font-size: 16px;
  letter-spacing: 2px;
}

.footerfrsttxtx p {
  color: #868e96;
  font-weight: 500;
  font-size: 13px;
}

.allftrtxts p {
  color: #868e96;
  font-weight: 400;
  font-size: 15px;
}

.form__group5 {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

#formicons {
  position: relative;
  top: 30px;
  left: 130px;
  font-size: x-large;
}

.form__field5 {
  font-family: inherit;
  width: 50%;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  position: relative;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field5:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #202528, #202528);
     border-image: linear-gradient(to right, #202528, #202528);
  border-image-slice: 1;
}
.form__field5:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #202528;
  font-weight: 700;
}

.form__field:required, .form__field:invalid {
  box-shadow: none;
}/*# sourceMappingURL=contact.css.map */